<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Streaming Example</title>
  </head>
  <body>
    <h1>Video Streaming Example</h1>

    <video id="streamVideo" src="http://localhost:3000/stream" controls></video>

    <style>
      #streamVideo {
        max-width: 100%; /* El video ocupará el ancho máximo de su contenedor */
        height: auto; /* La altura se ajusta automáticamente */
        scale: 0.7;
      }
    </style>
    <!-- No source initially -->
    Your browser does not support the video tag.
  </body>
</html>
